<%- include('partials/header.ejs'); -%>

<h1>Home</h1>
<p><%= homeStartingContent_ejs %> </p>

<% for(let i = 0; i < postsTruncated_ejs.length; i++ ) { %>
<h1><%= postsTruncated_ejs[i].title %></h1>
<p><%= postsTruncated_ejs[i].text %>...</p>
<% } %>

<%- include('partials/footer.ejs'); -%>