<%- include('partials/header.ejs'); -%>

<h1>Home</h1>
<p><%= homeStartingContent_ejs %> </p>
<% for(let i = 0; i < postTitle_ejs.length; i++ ) { %>
    <h2><%= postTitle_ejs[i].title %></h2>
    <p><%= postTitle_ejs[i].text %></p>    
<% } %>

<%- include('partials/footer.ejs'); -%>